/*My Styles*/

/*body{
	background-image: url("img/sushimat.jpg"); 
	background-color: #FF9D67;
	
}*/


.navbar{
	position: absolute;
	top: 10px;
}

.navbar-inner {
	width: 658px;
	border-radius: 0px;
}
.navbar .nav > li > a {
	padding: 10px 40px 10px;
}

.navbar .nav > li > a:hover{
	background: red;
	color: white;
}

.navbar .nav > li > a:active{
	background: red;
	color: white;
}


hr{
	margin: 0px;
}

