/*My Styles*/

#menu-list > li {
	display: inline;
	padding: 5px;
	margin: 0px 20px 0px 19px;
	}

#menu-list{
	position: absolute;
	top: 60px;
	right: 28px;
	margin: 10px;
	width: 534px;
	padding: 13px;
	background: blue;
	border-radius: 0px;
}
	
.navbar{
	position: absolute;
	top: 10px;
}

.navbar-inner {
	width: 658px;
	border-radius: 0px;
}
.navbar .nav > li > a {
	padding: 10px 40px 10px;
}

.navbar .nav > li > a:hover{
	background: red;
	color: white;
}

.navbar .nav > li > a:active{
	background: red;
	color: white;
}

hr{
	margin: 0px;
}
